@import 'tailwindcss';

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --font-cormorant: var(--font-cormorant);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a !important;
    --foreground: #ededed !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background) !important;
  color: var(--foreground);
  font-family:
    var(--font-inter),
    ui-sans-serif,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Noto Sans,
    Ubuntu,
    Cantarell,
    Helvetica Neue,
    Arial,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

/* Smooth page transitions */
* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
